[Unit]
Description=RFID Reader and MQTT Publisher
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/RFID_Publisher/publisher.py

[Install]
WantedBy=multi-user.target